:root{

    --mainBGColor: #FAFCFE;
    --header-colors: #9296A2;
    --menu-colors: #555F7C;
    --names-colors: #324059;

    --btns-color: #3A75F5;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("/assets/imgs/mobile.jpg");
    background-repeat: no-repeat;
    
}

.side-bar{
    background-color: var(--mainBGColor);
    opacity: .8;
    height: 100vh;
    width: 70vw;
}
.app>.side-bar>.profile{
    height: 10rem;
    background-color: #3A75F5;

}
.app>.side-bar>.profile>.fa-xmark{
    font-size: 1.5rem;
    float: right;
    margin: 1rem;
}

/* @media only screen and (min-width: 736px) {
    body {
    }
}

@media only screen and (min-width: 950px) {
    body {
    }
} */


@media only screen and (min-width: 1365px) {
    body {
        
        background-size: cover;
    }
}

@media only screen and (min-width: 1920px) {
    body {
        background-image: url("/assets/imgs/bigScreenBG.jpg");
        
    }
}

