:root{

    --mainBGColor: #232323;
    --header-colors: #EBEBEB;
    --light-header-colors: #d1d1d1;
    --paragraph-dark: #a5a5a5;
    /* --names-colors: #324059; */

    --main-btns-color: #EBFB5D;

    --logo-font : 'Cedarville Cursive', cursive;
    --content-font: 'League Gothic', sans-serif;
    --content-paragraph-font: 'Segoe UI';

    --content-padding: 2rem;
    --headings : 2rem; 
    --h2-headings: 1.2rem;
    
}

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    transition: 1s;
    font-family: var(--content-paragraph-font);
    
}


body{
    display: flex;
    flex-direction: column;
    background-color: var(--mainBGColor);
}

header{
    background-color: #3D3D3D;
    /* width: 100vw; */
    display: flex;
    justify-content: space-between;
}
.header-padding{
    padding: .5rem var(--content-padding);
}
.nav{
 /* background-color: red;    */
 margin-right: 1rem;
}
.logo{
    /* position: fixed; */
    color: aliceblue;
    font-size: 1.2rem;
    font-family: var(--logo-font);
}

.fa-solid{
    
    color: var(--header-colors);
    margin: .5rem; 
    
}

.fa-bars{
    position: fixed;
    right: 1rem;
    top: .5rem;
    text-shadow: 1px 1px var(--mainBGColor);

}

.banner{
    width: 200vw;
    margin-left: -50vw;
}

.top-content{
    padding: 0 var(--content-padding);
    box-shadow: 0 0 1rem 2rem var(--mainBGColor), 0 0 1rem 3rem rgba(35, 35, 35, .8), 0 0 1rem 4rem rgba(35, 35, 35, .7),0 0 1rem 6rem rgba(35, 35, 35, .3);
}

.content{
    padding: 3rem var(--content-padding);
}

.headings{
    font-size: var(--headings);
    color: var(--header-colors);
    font-family: var(--content-font);
    font-weight: 300;
    margin-bottom: 1rem;
}

.h3-headings{
    font-size: var(--h2-headings);
    color: var(--header-colors);
    font-family: var(--content-font);
    font-weight: 800;
    letter-spacing: 1px;
}



.paragraph-light{
    color: var(--light-header-colors);
    line-height: 1.3;
    font-size: .8rem;
}

.view-more-single-btn{
    border: none;
    margin: 1.5rem 0;
    height: 1.8rem;
    width: 10rem;
    /* padding: ; */
}
.paragraph-dark{
    color: var(--paragraph-dark);
    line-height: 1.2rem;
    overflow: hidden;
}

.date{
    text-transform: uppercase;
    font-size: .6rem;
    margin: 1rem 0;
    color: var(--main-btns-color);
}
.cursive{
    font-family: var(--logo-font);
}

a{
    color: var(--light-header-colors);
}


/* @media only screen and (min-width: 736px) {
    body {
    }
}


